.advantages-list {
  margin: 0;
  padding: 0;
  list-style: none;
  text-align: center;
}

.advantages-list__title {
  font-size: 18px;
  font-weight: 700;
  color: @black;
  margin: 0 0 24px;
}

.advantages-list__item:not(:last-child) {
  margin-bottom: 43px;
}

.advantages-list__text {
  margin: 0;
}

@media (min-width: @tablet-width) {
  .advantages-list {
    width: 310px;
    text-align: left;
  }

  .advantages-list__item:not(:last-child) {
    margin-bottom: 46px;
  }
}

@media (min-width: @desktop-width) {
  .advantages-list {
    width: 940px;
    display: grid;
    grid-template-columns: 252px 252px 252px;
    grid-gap: 68px;
  }

  .advantages-list__title {
    font-size: 30px;
    line-height: 30px;
    margin-bottom: 35px;
    text-align: center;
    padding: 0 15px;
  }

  .advantages-list__text {
    font-size: 18px;
    line-height: 30px;
    margin-bottom: 59px;
    text-align: center;
    padding: 0 5px;
  }
}
