.advantages-list {
  margin: 0;
  padding: 0;
  list-style: none;
  text-align: center;
}

.advantages-list__title {
  font-size: 18px;
  font-weight: 700;
  color: @black;
  margin: 0 0 12px;
}

.advantages-list__item:not(:last-child) {
  margin-bottom: 31px;
}

.advantages-list__text {
  margin: 0;
}

@media (min-width: @tablet-width) {
  .advantages-list {
    width: 310px;
    text-align: left;
  }

  .advantages-list__item:not(:last-child) {
    margin-bottom: 35px;
  }

  .advantages-list__item {
    margin-bottom: 35px;
  }
}


@media (min-width: @desktop-width) {
  .advantages-list {
    width: 940px;
    display: grid;
    grid-template-columns: 300px 300px 300px;
    grid-gap: 20px;
  }

  .advantages-list__title {
    font-size: 30px;
    line-height: 30px;
    text-align: center;
    padding: 56px 0 11px;
    background-color: @fon-gray;
    position: relative;
    z-index: 1;
  }

  .advantages-list__text {
    font-size: 18px;
    line-height: 30px;
    margin: 0 auto 24px;
    text-align: center;
    padding: 0 5px;
    width: 252px;
  }

  .advantages-list__item:not(:last-child) {
    margin-bottom: 0;
  }

  .advantages-list__item::before {
    content: "";
    position: absolute;
    display: block;
    top: 292px;
    left: 0;
    height: 17px;
    width: 300px;
    background: linear-gradient(90deg, rgba(0, 0, 0, 0) 0%, #000000 49.8%, rgba(0, 0, 0, 0) 93.23%);
    opacity: 0.3;
    filter: blur(4px);
  }

  .advantages-list__item {
    padding-top: 300px;
    background-repeat: no-repeat;
    background-position: 55px 0;
    position: relative;
  }

  .advantages-list__item--of {
    background-image: url("../img/advantages-desktop1.png");
  }

  .advantages-list__item--on {
    background-image: url("../img/advantages-desktop2.png");
    background-position: 57px 0;
  }

  .advantages-list__item--smail {
    background-image: url("../img/advantages-desktop3.png");
    background-position: 60px 0;
  }

  @media (min-resolution: 2dppx) {
    .advantages-list__item--of {
      background-image: url("../img/advantages-desktop1@2x.png");
      background-size: 186px auto;
    }

    .advantages-list__item--on {
      background-image: url("../img/advantages-desktop2@2x.png");
      background-size: 186px auto;
    }

    .advantages-list__item--smail {
      background-image: url("../img/advantages-desktop3@2x.png");
      background-size: 186px auto;
    }
  }
}
