.application-button {
  width: 195px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

@media (min-width: @tablet-width) {
  .application-button {
    display: flex;
    flex-direction: column;
    margin-top: 50px;
  }

  .application-button__item {
    align-self: flex-start;
  }
}
