.button-link {
  display: inline-block;
  text-decoration: none;
  background-color: transparent;
  margin: 0;
  padding: 0;
  border: none;
  font-size: 18px;
  line-height: 18px;
  font-weight: 700;
  vertical-align: middle;
  text-align: center;
  border-radius: 29px;
}
