.copyright {
  display: flex;
  justify-content: center;
}

.copyright__text {
  margin: 0 15px 0 0;
  line-height: 18px;
  display: flex;
  align-items: center;
}

.copyright__link:hover .copyright__img {
  fill: @blue;
}

.copyright__link:active .copyright__img {
  fill: @blue-light;
}

@media (min-width: @tablet-width) {
  .copyright__img {
    width: 28px;
    height: 41px;
    padding-top: 10px;
  }
}

@media (min-width: @desktop-width) {
  .copyright__text {
    font-size: 18px;
    margin-right: 12px;
  }
}
