.form__fildset {
  border: none;
  margin: 0;
  padding: 0 0 15px;
}

.form__wrap {
  margin: 0;
  margin-bottom: 29px;
}

.form__label--legend {
  display: block;
  margin-bottom: 17px;
}

.form__control--text {
  font: inherit;
  font-size: 18px;
  line-height: 30px;
  font-weight: 400;
  color: @blue;
  width: 276px;
  padding: 20px;
  border: 2px solid @border-gray;
}

.form__legend {
  line-height: 18px;
  font-size: 14px;
  text-align: center;
  text-transform: uppercase;
  padding: 42px 0 0;
  width: 225px;
  margin-bottom: 44px;
}

.form__achievement-list,.form__applications-list {
  margin: 0;
  padding: 0 0 40px;
  list-style: none;
}

.form__fildset-box {
  background-color: @fon-gray;
}

.form__label--checkbox,.form__label--radio {
  display: block;
  font-size: 18px;
  line-height: 30px;
  padding-left: 77px;
}

.form__achievement-list-item:not(:last-child) {
  margin-bottom: 69px;
}

.form__applications-list-item:not(:last-child) {
  margin-bottom: 62px;
}

.form__fildset-contacts {
  padding-top: 42px;
}

.form__label-text {
  padding: 42px 0 0;
  margin: 0 0 22px;
  text-align: center;
}

.form__control--text::placeholder {
  color: @blue;
}

.form__wrap-textarea {
  margin: 0 0 37px;
}

.form__button-box {
  margin: 0 0 45px;
}

.form__text {
  line-height: 30px;
  text-align: center;
  margin: 0 0 26px;
  text-transform: uppercase;
  color: @blue;
}
