.form-button {
  display: inline-block;
  vertical-align: middle;
  width: 276px;
  color: @white;
  background-color: @grin;
  padding: 15px 0;
  text-transform: uppercase;
  cursor: pointer;
  font: inherit;
  font-size: 18px;
  line-height: 30px;
  font-weight: 700;
  border: 2px solid @grin;
  border-radius: 1px;
  &:hover {
    background-color: @grin-dark;
  }
  &:active {
    background-color: @grin-dark;
    color: @white-light;
  }
  &:disabled {
    background-color: @border-gray;
    border: 2px solid @border-gray;
  }
}
