.form-application__img {
  display: block;
  width: 280px;
  height: 394px;
  padding-top: 20px;
  margin-bottom: 40px;
}

.form-application__img-box {
  width: 280px;
  margin: 0 auto;
}

.form-application__button-function {
  display: block;
  border: none;
  cursor: pointer;
  background-color: transparent;
  width: 48px;
  height: 43px;
}

.form-application__button-img path {
  fill: @blue-light;
  &:hover {
    fill: @blue-btn-light;
  }
}

.form-application__button-img--active path {
  fill: @pink;
}

.form-application__button {
  width: 280px;
  border: 3px solid @blue-socials;
  color: @blue-socials;
  padding: 15px 5px 16px;
  font-size: 18px;
  line-height: 18px;
  font-weight: 700;
  &:hover {
    color: @blue-light;
    border-color: @blue-light;
  }
  &:active {
    color: @white-light;
    background-color: @blue-light;
    border: none;
    padding: 18px 5px 18px;
  }
}

.form-application__button--upload {
  border: 3px solid @pink;
  color: @pink;
  margin-bottom: 12px;
  &:hover {
    background-color: @pink;
    color: @white;
    border: none;
    padding: 18px 5px 18px;
  }
  &:active {
    background-color: @pink;
    color: @white-light;
    border: none;
    padding: 18px 5px 18px;
  }
}

.form-application__button-box {
  margin: 0 auto;
  width: 280px;
  padding: 38px 0 41px;
}

.form-application__content {
  margin: 0 auto;
  padding-right: 10px;
  padding-bottom: 78px;
}

.form-application__box {
  border-top: 1px solid @blue-socials;
}

@media (min-width: @tablet-width) {

  .form-application__box {
    border-top: none;
  }

  .form-application {
    width: 620px;
    display: flex;
    justify-content: space-between;
  }

  .form-application__functions {
    width: 275px;
    text-align: center;
  }

  .form-application__button-function {
    width: 30px;
    height: 30px;
  }

  .form-application__button-function--crop {
    margin: 13px 25px 19px 0;
  }

  .form-application__button-function--fill {
    margin: 25px 27px 17px -2px;
  }

  .form-application__button-function--contrast {
    margin: 20px 25px 19px 0;
  }

  .form-application__button-img--crop {
    width: 22px;
    height: 22px;
  }

  .form-application__button-img--fill {
    width: 24px;
    height: 22px;
  }

  .form-application__button-img--contrast {
    width: 16px;
    height: 16px;
  }

  .form-application__button-img path {
    fill: @pink;
  }

  .form-application__img {
    width: 300px;
    height: 400px;
    padding-top: 0;
    margin: 57px 45px 54px 0;
  }

  .form-application__img-box {
    width: 300px;
    margin: 0;
  }

  .form-application__content {
    margin: 0;
    padding: 0 10px 67px 0;
  }

  .form-application__button {
    width: 260px;
  }

  .form-application__button-box {
    width: 275px;
    margin: 0;
    padding: 0 12px 10px 0;
  }

  .form-application__button--upload {
    margin-bottom: 24px;
  }
}

@media (min-width: @desktop-width) {

  .form-application {
    width: 830px;
  }

  .form-application__content {
    padding: 0 0 144px;
  }

  .form-application__button-box {
    width: 410px;
    display: flex;
    flex-wrap: wrap;
    padding: 0;
  }

  .form-application__functions {
    width: 415px;
    margin-left: auto;
  }

  .form-application__button {
    width: 183px;
  }

  .form-application__button--upload {
    margin: 0 44px 0 0;
  }

  .form-application__img {
    margin: 57px 0 57px 25px;
  }

  .form-application__button-img {
    &--crop {
      width: 44px;
      height: 44px;
    }
    &--fill {
      width: 48px;
      height: 43px;
    }
    &--contrast {
      width: 32px;
      height: 32px;
    }
  }

  .form-application__button-function {

    &--crop {
      margin: 5px 67px 25px -5px;
    }
    &--fill {
      margin: 17px 67px 25px -5px;
    }
    &--contrast {
      margin: 19px 62px 25px 0;
    }

  }


}
