.gallery {
  background-color: @white;
}

.gallery__text-title {
  padding-top: 54px;
  margin-bottom: 60px;
}

.gallery__text-box {
  margin-bottom: 52px;
}

.gallery__list {
  margin: 0 0 49px 0;
  padding: 0;
  list-style: none;
}

.gallery__photo-caption {
  margin: 0;
  background-color: @pink;
  font-size: 12px;
  line-height: 24px;
  font-weight: 700;
  color: @white;
  width: 140px;
  height: 36px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0;
  right: 500px;
}

.gallery__item {
  position: relative;
}

.gallery__content-box {
  background-color: @fon-gray;
  padding-bottom: 25px;
  margin-bottom: 20px;
}

.gallery__item-img {
  display: block;
  margin: 0 auto;
}

.gallery__item-autor {
  font-style: normal;
  font-weight: 700;
}

.gallery__item-time {
  font-weight: 300;
  font-size: 12px;
  text-transform: uppercase;
}

.gallery__item-text {
  quotes: none;
  display: block;
  padding: 25px 10px 23px 17px;
}

.gallery__item-content {
  display: block;
}

.gallery__item-button {
  background-image: url(../img/catalog.img/gallery-like.svg);
  background-repeat: no-repeat;
  display: block;
  width: 13px;
  height: 12px;
  margin: 0 18px 0 17px;
  padding: 0 150px 0 0;
  border: none;
  cursor: pointer;
}

.gallery__likes-number {
  display: inline-block;
  vertical-align: top;
  white-space: nowrap;
  padding-left: 25px;
  font-size: 12px;
  color: @pink;
  text-transform: uppercase;
}
