.gallery__text-title {
  width: 260px;
  padding: 45px 0 40px;
  margin: 0 auto;
}

.gallery__text-box {
  background-color: @white;
  margin-bottom: 9px;
}

.gallery__text-content {
  margin-bottom: 42px;
}

.gallery__list {
  margin: 0 0 43px 0;
  padding: 0;
  list-style: none;
}

.gallery__img-main {
  display: block;
  min-width: 320px;
  height: 137px;
}

.gallery__photo-caption {
  margin: 0;
  background-color: @pink;
  font-size: 12px;
  line-height: 24px;
  font-weight: 700;
  color: @white;
  width: 140px;
  height: 36px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0;
  left: 160px;
}

.gallery__content-box {
  background-color: @fon-gray;
  padding-bottom: 23px;
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
}

.gallery__content-box--size {
  width: 280px;
  margin: 0 auto 20px;
}

.gallery__item-img {
  display: block;
  margin: 0 auto;
}

.gallery__item-autor {
  font-style: normal;
  font-weight: 700;
}

.gallery__item-time {
  font-weight: 300;
  font-size: 12px;
  text-transform: uppercase;
}

.gallery__item-text {
  margin: 0;
  padding: 18px 10px 16px 16px;
}

.gallery__item-content {
  display: block;
  quotes: none;
}

.gallery__item-button {
  margin: 0 18px 0 17px;
  border: none;
  cursor: pointer;
  background-color: transparent;
  display: flex;
  flex-direction: row-reverse;
  justify-content: flex-end;
  padding: 0;
}

.gallery__likes-number {
  display: inline-block;
  vertical-align: top;
  white-space: nowrap;
  font-size: 12px;
  color: @pink;
  text-transform: uppercase;
}

.gallery__item-text--position {
  padding: 0;
  margin: 0;
}

.gallery__item-content--position {
  margin: 0 0 16px;
}

.gallery__item-button--position {
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: row-reverse;
  justify-content: flex-end;
}

.gallery__likes-number--position {
  padding: 0;
  margin: 0;
}

.gallery__likes-img {
  align-self: center;
  margin-right: 19px;
  width: 13px;
  height: 12px;
  display: block;
}

.gallery__content-box--position {
  margin: 0;
  padding: 18px 10px 23px 17px;
  margin-bottom: 20px;
}

@media (min-width: @tablet-width) {
  .gallery__item-button {
    width: 289px;
    flex-direction: row;
    justify-content: space-between;
    margin: 0;
    padding-left: 30px;
  }

  .gallery__item-img {
    width: 300px;
    height: 300px;
  }

  .gallery__img-main {
    min-width: 660px;
    height: 509px;
  }

  .gallery__item {
    background-color: @fon-gray;
  }

  .gallery__item-wrap {
    background-color: @white;
  }

  .gallery__item-text {
    padding: 23px 20px 15px 30px;
    min-height: 113px;
  }

  .gallery__text-title {
    width: 520px;
    padding: 92px 0 45px;
  }

  .gallery__photo-caption {
    top: 57px;
    left: 500px;
  }

  .gallery__content-box {
    padding-bottom: 28px;
  }

  .gallery__content-box--size {
    width: 300px;
    margin: 0 auto;
  }

  .gallery__list {
    width: 660px;
    padding: 0 20px;
    margin: 0 auto 64px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 20px;
  }

  .gallery__text-box {
    margin-bottom: 31px;
  }

  .gallery__text-content {
    margin-bottom: 70px;
  }

  .gallery__content-box--position {
    flex-direction: row;
    padding: 23px 10px 25px 30px;
    margin-bottom: 50px;
    flex-wrap: wrap;
  }

  .gallery__item-text--position {
    min-height: 20px;
    order: -3;
    padding: 0;
    margin-right: auto;
  }

  .gallery__item-content--position {
    order: -1;
    margin: 0;
  }

  .gallery__item-button--position {
    order: -2;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
  }

  .gallery__likes-number--position {
    align-self: center;
    margin-right: 18px;
  }

  .gallery__item-content--position br {
    display: none;
  }
}

@media (min-width: @desktop-width) {
  .gallery__item-button {
    padding-left: 27px;
  }

  .gallery__img-main {
    min-width: 1200px;
    height: 506px;
  }

  .gallery__item-img {
    width: 300px;
    height: 400px;
  }

  .gallery__text-title {
    padding: 90px 0 90px;
    width: 600px;
  }

  .gallery__item-text {
    padding-left: 27px;
  }

  .gallery__text-title br {
    display: block;
  }

  .gallery__photo-caption {
    top: 54px;
    left: 930px;
  }

  .gallery__content-box {
    padding-bottom: 28px;
  }

  .gallery__list {
    width: 940px;
    padding: 0;
    margin: 0 auto 58px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 54px 20px;
  }

  .gallery__text-box {
    margin-bottom: 0;
  }

  .gallery__text-content {
    padding-bottom: 67px;
  }

  .gallery__content-box--position {
    padding: 24px 10px 23px 27px;
    margin-bottom: 50px;
  }

  .gallery__item-text--position {
    padding: 0;
  }
}
