.header {
  //background-color: @light-black;
  background-color: @blue;
}

.header__box {
  border-bottom: 1px solid @black;
}

.header__wrapper {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 320px;
  padding: 0 20px;
  margin: 0 auto;
}

.header__logo {
  display: block;
  padding: 23px 0;
}

.header__toggle {
  border: none;
  background-color: @white;
  cursor: pointer;
  width: 50px;
  height: 3px;
  border-radius: 3px;
  position: relative;
  margin-top: 21px;

  &:hover::before,&:hover::after,&:hover {
    background-color: @pink;
  }

  &:active {
    background-color: @pink;
    opacity: 0.3;
  }

  &:active::before,&:active::after {
    background-color: @pink;
    opacity: 0.9;
  }
}

.header__toggle::before {
  content: "";
  position: absolute;
  left: 0;
  top: 5px;
  width: 50px;
  height: 3px;
  border-radius: 3px;
  background-color: @white;
  margin-top: 5px;
}

.header__toggle::after {
  content: "";
  position: absolute;
  left: 0;
  top: 5px;
  width: 50px;
  height: 3px;
  border-radius: 3px;
  background-color: @white;
  margin-top: 15px;
}

@media (min-width: @tablet-width) {
  .header__wrapper {
    width: 660px;
  }

  .header__toggle {
    margin-top: 43px;
  }

  .header__logo {
    padding: 27px 0 43px;
  }
}

@media (min-width: @desktop-width) {

  .header__wrapper {
    width: 167px;
    padding: 0;
  }

  .header__toggle {
    display: none;
  }

  .header__box {
    border: none;
  }

  .header__container {
    margin: 0 auto;
    width: 1200px;
    padding: 0 130px;
    display: flex;
    justify-content: space-between;
  }

}
