.modal {
  width: 320px;
  background-color: @white;
  text-align: center;
  border-radius: 5px;
  box-shadow:  0 7px 15px @shadow;
}

.modal__wrap {
  width: 320px;
  padding: 0 10px 52px;
}

.modal__title {
  font-size: 18px;
  line-height: 24px;
  font-weight: 700;
  text-align: center;
  margin: 0 0 37px;
  padding-top: 44px;
  color: @black;
}

.modal__text {
  text-align: center;
  margin: 0 0 50px;
}

.modal__text-success {
  width: 266px;
  margin: 0 auto;
  margin-bottom: 35px;
}

.modal__button-box {
  margin: 0;
  padding: 52px 0;
  background-color: @fon-gray;
}


