.page {
  height: 100%;
}

.page__body {
  display: grid;
  grid-template-rows: min-content 1fr min-content;
  align-content: start;
  min-width: 320px;
  margin: 0;
  padding: 0;
  font-family: "Open Sans", "Arial", sans-serif;
  font-size: 14px;
  line-height: 24px;
  font-weight: 400;
  color: @blue;
  background-color: @white;
  position: relative;
}

.page__body-presentation {
  margin-bottom: 41px;
}

.page__main-title {
  width: 172px;
  padding: 95px 0 20px;
  margin: 0 auto;
}

.page__main-contest {
  width: 230px;
  margin: 0 auto;
  padding: 96px 0 40px;
}

.page__body-reviews {
  background: @white;
  position: relative;
}

.page__body-reviews::before {
  content: "";
  position: absolute;
  top: 244px;
  left: 0;
  width: 100%;
  height: 200px;
  background-color: @fon-gray;
  clip-path: polygon(0 59%, 100% 50%, 100% 100%, 0 100%);
}

@media (min-width: @tablet-width) {
  .page__body-presentation {
    margin-bottom: 47px;
  }

  .page__body {
    min-width: 660px;
  }

  .page__main-title {
    width: 358px;
    padding-top: 176px;
  }

  .page__main-contest {
    width: 600px;
    padding: 177px 0 30px;
  }

  .page__body-reviews::before {
    top: 227px;
    clip-path: polygon(0 71%, 100% 50%, 100% 100%, 0 100%);
  }
}

@media (min-width: @desktop-width) {
  .page__body {
    min-width: 1200px;
  }

  .page__body-presentation {
    margin-bottom: 63px;
  }

  .page__main-title {
    padding-top: 170px;
  }

  .page__application {
    margin: 0 auto 27px;
  }

  .page__main-contest {
    padding-top: 170px;
    width: 748px;
  }

  .page__body-reviews::before {
    height: 300px;
    top: 255px;
    clip-path: polygon(0 83%, 100% 50%, 100% 100%, 0 100%);
  }
}
