.page {
  height: 100%;
}

.page__body {
  display: grid;
  grid-template-rows: min-content 1fr min-content;
  align-content: start;
  min-width: 320px;
  margin: 0;
  padding: 0;
  font-family: "Open Sans",Arial, sans-serif;
  font-size: 14px;
  line-height: 24px;
  font-weight: 400;
  color: @blue;
  background-color: @white;
}

.page__body-presentation {
  margin-bottom: 46px;
}

.page__main-title {
  width: 172px;
  padding: 102px 0 20px;
  margin: 0 auto;
}

.page__main-contest {
  width: 230px;
  margin: 0 auto;
  padding: 102px 0 51px;
}

@media (min-width: @tablet-width) {

  .page__body-presentation {
    margin-bottom: 58px;
  }

  .page__body {
    min-width: 660px;
  }

  .page__main-title {
    width: 358px;
    padding-top: 160px;
  }

  .page__main-contest {
    width: 600px;
  }
}

@media (min-width: @desktop-width) {

  .page__body {
    min-width: 1200px;
  }

  .page__body-presentation {
    margin-bottom: 77px;
  }

  .page__main-title {
    padding-top: 184px;
  }

  .page__application {
    margin: 0 auto;
  }

  .page__main-contest {
    width: 748px;
  }
}
