.presentation {
  background-image: url(/source/img/back-mobile.png);
  background-repeat: no-repeat;
  background-position: top center;
  display: block;
}

.presentation__title {
  margin: 0;
  font-size: 24px;
  line-height: 29px;
  color: @white;
  text-align: center;
  margin-bottom: 34px;
  font-weight: 300;
  width: 280px;
}

.presentation__img {
  display: block;
  margin: 0 auto;
}

.presentation__lower {
  background-color: @dark-blue;
}

.presentation__link {
  margin: 28px 0 38px;
  padding: 15px 10px;
  border: 3px solid @white;
  color: @white;
  width: 280px;
}

.presentation__list {
  margin: 0 auto;
  margin-bottom: 28px;
}

.presentation__text {
  color: @white;
  margin: 0;
  text-align: center;
  padding-bottom: 28px;
}
