.presentation__title {
  margin: 0 0 34px;
  font-size: 24px;
  line-height: 29px;
  color: @white;
  text-align: center;
  padding-top: 80px;
  font-weight: 300;
  width: 280px;
}

.presentation__box-img {
  width: 660px;
  padding: 0 20px;
  margin: 0 auto;
  position: relative;
}

.presentation__img {
  display: block;
  margin: 0 auto;
}

.presentation__lower {
  background-color: @dark-blue;
}

.presentation__link {
  margin: 28px 0 38px;
  padding: 15px 10px;
  border: 3px solid @white;
  color: @white;
  width: 280px;
  font-size: 18px;
  line-height: 18px;
  font-weight: 700;
}

.presentation__list {
  margin: 0 auto;
  margin-bottom: 28px;
}

.presentation__text {
  color: @white;
  margin: 0;
  text-align: center;
  padding-bottom: 28px;
  font-weight: 300;
}

@media (min-width: @tablet-width) {
  .presentation__lower {
    background-color: inherit;
  }

  .presentation__img {
    position: absolute;
    top: 37px;
    right: -30px;
  }

  .presentation__title {
    font-size: 40px;
    line-height: 48px;
    width: 300px;
    padding: 200px 30px 0;
    margin-bottom: 39px;
  }

  .presentation__link {
    width: 300px;
    margin: 0 0 46px;
  }

  .presentation__list {
    margin: 0 0 38px 46px;
  }

  .presentation__text {
    font-size: 18px;
    width: 300px;
    padding-bottom: 98px;
  }
}

@media (min-width: @desktop-width) {
  .presentation__title {
    font-size: 50px;
    line-height: 68px;
    margin-bottom: 50px;
  }

  .presentation__link {
    font-size: 21px;
    margin-bottom: 67px;
  }

  .presentation__list {
    margin-bottom: 59px;
  }
}
