.range__scale {
  width: 240px;
  height: 2px;
  background-color: @blue;
  position: relative;
}

.range__toggle {
  background-color: @white;
  border: 2px solid @pink;
  border-radius: 50%;
  width: 14px;
  height: 14px;
  cursor: pointer;
  position: absolute;
  top: -6px;

  &:active {
    background-color: @pink;
  }
}

.range--active {
  position: absolute;
  top: 85px;
  left: -13px;
}

.range--inactive {
  display: none;
}

@media (min-width: @tablet-width) {
  .range--inactive {
    display: block;
  }

  .range {
    display: flex;
    align-items: center;
  }

  .range__scale {
    width: 202px;
  }

  .range--active {
    position: static;
  }
}

@media (min-width: @desktop-width) {
  .range__scale {
    width: 288px;
  }
}
