.reviews__autor {
  font-size: 18px;
  line-height: 30px;
  font-weight: 700;
  font-style: normal;
  padding-top: 50px;
  margin-bottom: 31px;
  display: block;
  color: @black;
}

.reviews__item {
  text-align: center;
  margin: 0;
}

.reviews__text {
  line-height: 30px;
  margin: 0 0 44px;
}

.reviews__autor-info {
  display: none;
}

