.slide-button {
  margin: 0;
  padding: 0;
  list-style: none;
  width: 58px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.slide-button__switch {
  display: block;
  cursor: pointer;
  background-color: @blue-light;
  width: 6px;
  height: 6px;
  border: none;
  border-radius: 50%;
  padding: 0;

  &:hover {
    background-color: @blue;
    opacity: 0.6;
  }

  &:active {
    background-color: @blue-socials;
  }
}

.slide-button__switch--active {
  background-color: @white;
  border: 3px solid @blue;
  border-radius: 50%;
  width: 10px;
  height: 10px;
}

@media (min-width: @desktop-width) {
  .slide-button {
    display: none;
  }
}
