.slide-rates__item {
  padding-top: 81px;
  margin-bottom: 42px;
}

.slide-rates__btn {
  padding-bottom: 46px;
  margin: 0 auto;
}

@media (max-width: @tablet-width) {
  .slide-rates {
    width: 320px;
    overflow: hidden;
    margin: 0 auto;
  }
}

@media (min-width: @tablet-width) {
  .slide-rates__btn {
    display: none;
  }

  .slide-rates__item {
    margin-bottom: 0;
    padding-bottom: 70px;
  }
}

@media (min-width: @desktop-width) {
  .slide-rates__item {
    padding-bottom: 90px;
  }
}
