.table__th {
  width: 280px;
  font-size: 16px;
  line-height: 30px;
  font-weight: 700;
  color: @white;
  padding: 19px 20px 35px;
  background-color: @blue;
  text-align: center;
  text-transform: uppercase;
}

.table__th--label {
  position: relative;
  overflow: hidden;
}

.table__th-label {
  font-size: 14px;
  font-weight: 400;
  text-align: center;
  width: 120px;
  transform: rotate(-45deg);
  background-color: @pink;
  position: absolute;
  top: 15px;
  left: -40px;
}

.table__th--hidden {
  background-color: @fon-gray;
}

.table__price {
  font-size: 18px;
  line-height: 30px;
  font-weight: 300;
  display: inline-block;
  vertical-align: middle;
  text-align: center;
  white-space: nowrap;
}

.table__td {
  width: 280px;
  line-height: 30px;
  text-transform: uppercase;
  background-color: @white;
  padding: 24px 20px 25px;
  white-space: nowrap;
}

@media (max-width: @tablet-width) {
  .table {
    width: 1120px;
    margin-left: -531px;
  }
}

@media (min-width: @tablet-width) {

  .table {
    width: 610px;
    margin: 0 auto;
  }

  .table__td {
    width: 153px;
    padding: 18px 15px 17px;
    text-transform: none;
  }

  .table__th {
    width: 153px;
    padding: 15px;
  }

  .table__td-hidden {
    display: none;
  }

  .table__th-label {
    height: 20px;
    top: 15px;
    left: -45px;
  }
}

@media (min-width: @desktop-width) {

  .table {
    width: 934px;
    margin: 0 auto;
  }

  .table__td {
    width: 233px;
    font-size: 18px;
    padding: 23px 22px;
  }

  .table__th {
    width: 233px;
    font-size: 18px;
    padding: 23px 50px 25px;
  }

  .table__price {
    font-size: 24px;
  }
}
